---
interface Option {
    name: string;
    alias?: string;
    description: string;
    required: boolean;
    example: string;
}

export interface Props {
    options: Option[];
}

const {options} = Astro.props;
---

<table>
    <thead>
    <tr>
        <th>Option</th>
        <th>Alias</th>
        <th>Description</th>
        <th>Required</th>
        <th>Example</th>
    </tr>
    </thead>
    <tbody>
    {options.map((option) => (
            <tr>
                <td><code>{option.name}</code></td>
                <td>{option.alias ? <code>{option.alias}</code> : '-'}</td>
                <td>{option.description}</td>
                <td>{option.required ? 'Yes' : 'No'}</td>
                <td><code>{option.example}</code></td>
            </tr>
        ))}
        </tbody>
        </table>